.root {
  position: relative;
  width: 1920px;
  height: 3430.9385px;
  align-items: flex-start;
  background-color: #dedede;
  overflow: hidden;
  text-decoration: none;
}
.unsplashAgmCFUm6gaU {
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 1024px;
  background-color: #0009;
  background-image:/* webpackIgnore: true */ url('/assets/unsplashAgmCFUm6gaU.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle5 {
  position: absolute;
  left: 1401px;
  top: 814px;
  width: 448.0329px;
  height: 50px;
  border-radius: 15px;
  background-color: #0006;
}
.biArrowDown {
  position: absolute;
  left: 1798.5021px;
  top: 814px;
  width: 51.0288px;
  height: 50px;
}
.icon {
  width: 100%;
  height: 100%;
}
.biArrowDown2 {
  position: absolute;
  left: 1401px;
  top: 814px;
  width: 51.0288px;
  height: 50px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.GetawayHolidays {
  color: #fff;
  font-size: 64px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 30.6173px;
  top: 115px;
  width: 1161.4156px;
  height: min-content;
  flex-direction: column;
}
.unnamed {
  color: #fff;
  font-size: 36px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 30.6173px;
  top: 491px;
  width: 602.1399px;
  height: 239px;
  text-align: justify;
  flex-direction: column;
}
.unnamed2 {
  color: #000;
  font-size: 64px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 759px;
  top: 1094px;
  width: 401.0864px;
  height: min-content;
  flex-direction: column;
}
.unnamed3 {
  color: #fff;
  font-size: 36px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 988px;
  top: 244px;
  width: 862.3868px;
  height: min-content;
  text-align: justify;
  flex-direction: column;
}
.unnamed4 {
  color: #fff;
  font-size: 36px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1462.2346px;
  top: 817px;
  width: 325.5638px;
  height: min-content;
  text-align: justify;
  flex-direction: column;
}
.rectangle1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 75px;
  background-color: #d9d9d980;
}
.getawayHolidays {
  color: #000;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 30px;
  top: 34px;
  width: 261px;
  height: 33px;
  flex-direction: column;
}
.mdiSki {
  position: absolute;
  left: 112px;
  top: 8px;
  width: 45.3057px;
  height: 45.3057px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.rectangle2 {
  position: absolute;
  left: 1268px;
  top: 22px;
  width: 134px;
  height: 31px;
  border-radius: 15px;
  background-color: #1e1e1e;
}
.rectangle3 {
  position: absolute;
  left: 1472px;
  top: 22px;
  width: 134px;
  height: 31px;
  border-radius: 15px;
  background-color: #1e1e1e;
}
.rectangle4 {
  position: absolute;
  left: 1716px;
  top: 22px;
  width: 134px;
  height: 31px;
  border-radius: 15px;
  background-color: #1e1e1e;
}
.unnamed5 {
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1288px;
  top: 28px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  text-decoration: none;
}
.unnamed6 {
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1489px;
  top: 28px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed7 {
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1736px;
  top: 28px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle6 {
  position: absolute;
  left: 90px;
  top: 1947px;
  width: 375px;
  height: 562px;
  background-color: #0009, #d9d9d9;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle6.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unnamed8 {
  position: absolute;
  left: 100px;
  top: 2017px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock {
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock7 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock9 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock10 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock11 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock12 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock13 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock14 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock15 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.unnamed9 {
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 162px;
  top: 1967px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle7 {
  position: absolute;
  left: 752px;
  top: 1947px;
  width: 375px;
  height: 562px;
  background-color: #0009, #d9d9d9;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle7.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unnamed10 {
  position: absolute;
  left: 762px;
  top: 2017px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock16 {
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock17 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock18 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock19 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock20 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock21 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock22 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock23 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock24 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock25 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock26 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock27 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock28 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock29 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock30 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.unnamed11 {
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 788px;
  top: 1967px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle8 {
  position: absolute;
  left: 1455px;
  top: 1947px;
  width: 375px;
  height: 562px;
  background-color: #0009, #d9d9d9;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle8.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unnamed12 {
  position: absolute;
  left: 1462px;
  top: 2017px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock31 {
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock32 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock33 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock34 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock35 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock36 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock37 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock38 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock39 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock40 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock41 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock42 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock43 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock44 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock45 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.unnamed13 {
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1555px;
  top: 1957px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle9 {
  position: absolute;
  left: 90px;
  top: 1274px;
  width: 375px;
  height: 562px;
  background-color: #0009, #d9d9d9;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle9.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unnamed14 {
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 165px;
  top: 1294px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed15 {
  position: absolute;
  left: 139px;
  top: 1477px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock46 {
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock47 {
  margin-top: 0;
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock48 {
  margin-top: 0;
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock49 {
  margin-top: 0;
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle10 {
  position: absolute;
  left: 752px;
  top: 1274px;
  width: 375px;
  height: 562px;
  background-color: #0009, #d9d9d9;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle10.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unnamed16 {
  position: absolute;
  left: 766px;
  top: 1294px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock50 {
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock51 {
  margin-top: 0;
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.unnamed17 {
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 788px;
  top: 1476px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed18 {
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 788px;
  top: 1522px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed19 {
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 788px;
  top: 1568px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed20 {
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 788px;
  top: 1614px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle11 {
  position: absolute;
  left: 1455px;
  top: 1274px;
  width: 375px;
  height: 562px;
  background-color: #0009, #d9d9d9;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle11.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unnamed21 {
  position: absolute;
  left: 1505px;
  top: 1460px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock52 {
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock53 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock54 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock55 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock56 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock57 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock58 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock59 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock60 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock61 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.unnamed22 {
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1529px;
  top: 1294px;
  width: 222px;
  height: min-content;
  text-align: justify;
  flex-direction: column;
}
.unsplashR1l1xVWi_Mo {
  position: absolute;
  left: 0;
  top: 2591px;
  width: 1920px;
  height: 1281.7021px;
  background-color: #0003, #0006;
  background-image:/* webpackIgnore: true */ url('/assets/unsplashR1l1xVWi_Mo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unnamed23 {
  color: #fff;
  font-size: 64px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 877px;
  top: 2673px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed24 {
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 405px;
  top: 2878px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed25 {
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 405px;
  top: 2997px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed26 {
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 405px;
  top: 3116px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed27 {
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 405px;
  top: 3235px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle12 {
  position: absolute;
  left: 1147px;
  top: 2868px;
  width: 216px;
  height: 60px;
  border-radius: 15px;
  background-color: #5f5f5f80;
}
.rectangle13 {
  position: absolute;
  left: 978px;
  top: 2987px;
  width: 216px;
  height: 60px;
  border-radius: 15px;
  background-color: #5f5f5f80;
}
.rectangle14 {
  position: absolute;
  left: 1234px;
  top: 3225px;
  width: 216px;
  height: 60px;
  border-radius: 15px;
  background-color: #5f5f5f80;
}
.rectangle15 {
  position: absolute;
  left: 978px;
  top: 3106px;
  width: 216px;
  height: 60px;
  border-radius: 15px;
  background-color: #5f5f5f80;
}
.unnamed28 {
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1297px;
  top: 2878px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed29 {
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1128px;
  top: 2999px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed30 {
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1127px;
  top: 3116px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed31 {
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1384px;
  top: 3235px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed32 {
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1347px;
  top: 2878px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed33 {
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1177px;
  top: 3116px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed34 {
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1178px;
  top: 2999px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed35 {
  color: #fff;
  font-size: 32px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1434px;
  top: 3235px;
  width: min-content;
  height: min-content;
  text-align: justify;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed36 {
  color: #fff6;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 993px;
  top: 3007px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed37 {
  color: #fff6;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 993px;
  top: 3126px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed38 {
  color: #fff6;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1247px;
  top: 3245px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed39 {
  color: #fff6;
  font-size: 16px;
  font-family: Ruda, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1162px;
  top: 2888px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

input{
  color: #fff;
}
a{
  text-decoration: none;
  color: #fff;
}
